{
  "db": {
    "faclon_portal": "root:passwd@tcp(127.0.0.1:3306)/falcon_portal?charset=utf8&parseTime=True&loc=Local",
    "graph": "root:passwd@tcp(127.0.0.1:3306)/graph?charset=utf8&parseTime=True&loc=Local",
    "uic": "root:passwd@tcp(127.0.0.1:3306)/uic?charset=utf8&parseTime=True&loc=Local",
    "db_bug": true
  },
  "gen_doc": false,
  "gen_doc_path": "doc/user.html",
  "log_level": "debug",
  "salt": "----"
}
